html
  head
    link(rel="stylesheet", type='text/css', href="style.css")
    title 'Successful'
  body
    h2= 'First Name: '+ firstName
    h2= 'Last Name: '+ lastName
    p= 'Below is your JWT code'
    h3= jwt
    p= 'Below will be your unique owner id which will identify entities you have created'
    h3= ownerID 
